<select id="select" class="form-select" aria-label="Default select example">
    <option selected></option>
    <option value="AR">Argentina</option>
    <option value="BO">Bolivia</option>
    <option value="CH">Chile</option>
    <option value="CO">Colombia</option>
    <option value="CR">Costa Rica</option>
    <option value="MX">Mexico</option>
    <option value="UY">Uruguay</option>
</select>
<script src="js/fetch.js"></script>